<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-12 chart">
            <app-doughnut-chart></app-doughnut-chart>
            <h4 style="padding-top: 45px;">Employee Status Chart</h4>
        </div>
        
        <div class="col-lg-6 col-12 chart">
            <app-bar-chart></app-bar-chart>
            <h4 style="padding-top: 35px;">Employee Leave Chart</h4>
        </div>
       
        <div class="col-lg-6 col-12 chart guage">
            <app-guage-chart></app-guage-chart>
            <h4 class="guage-content">Employee Productive Hours Chart</h4>
        </div>
        <div class="col-lg-6 col-12"></div>
        <div class="col-12 employeeTable">
            <table class="table">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let emp of allEmpDetails; let i = index">
                    <td class="text-center">{{i+1}}</td>
                    <td><img src="{{emp.image}}" alt=""><span> {{emp.first_name | table:emp.gender}} {{emp.last_name}}</span></td>
                    <td>{{emp.department}}</td>
                    <td>
                      <button class="btn btn-outline-info" (click)="viewEmployee(emp.id)">View <i class="bi bi-person-vcard-fill"></i></button> &nbsp; &nbsp;
                      <Button class="btn btn-outline-danger" (click)="deleteEmployee(emp.id)">Delete <i class="bi bi-x-circle"></i></Button></td>
                  </tr>
              </table>
        </div>
        <div class="addEmployee">
          <h4>Add a new Employee </h4>
          <button class="btn" type="button" (click)="addEmployee()">Add <i class="bi bi-plus-circle"></i></button>
        </div>
    </div>
</div>